.atl
.env
output/*
__pycache__/
.download_transcript.pid
.idea
.tmp
/agents/stages/architecture_questions/testing/output/
/agents/stages/data_contract_questions/testing/output/
/agents/stages/adr_generation/testing/output/
/agents/stages/classification/testing/output/
/agents/stages/gold/testing/output/
/agents/stages/gold/testing/chat_eval/output/
